<a href="https://colab.research.google.com/github/BillDevData/Challenge-2-Data-Science/blob/main/notebook_del_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

In [ ]:
datos = pd.read_json(url)

In [ ]:
datos.sample(10)

,customerID,Churn,customer,phone,internet,account
6495,8922-NPKBJ,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
6414,8807-OPMBM,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
2390,3337-EUOON,,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7199,9904-EHEVJ,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3300,4603-FDONU,,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3991,5453-AXEPF,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3858,5285-TWCNP,,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
5235,7137-RYLPP,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6255,8610-WFCJF,Yes,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
1011,1422-DGUBX,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '..."

In [ ]:
datos['internet'].sample(10)

980     {'InternetService': 'DSL', 'OnlineSecurity': '...
4968    {'InternetService': 'Fiber optic', 'OnlineSecu...
6845    {'InternetService': 'Fiber optic', 'OnlineSecu...
1680    {'InternetService': 'Fiber optic', 'OnlineSecu...
4018    {'InternetService': 'DSL', 'OnlineSecurity': '...
5066    {'InternetService': 'Fiber optic', 'OnlineSecu...
339     {'InternetService': 'Fiber optic', 'OnlineSecu...
4565    {'InternetService': 'DSL', 'OnlineSecurity': '...
519     {'InternetService': 'DSL', 'OnlineSecurity': '...
3925    {'InternetService': 'DSL', 'OnlineSecurity': '...
Name: internet, dtype: object

In [ ]:
datos_normalized = pd.concat(

In [ ]:
import pandas as pd

# Example structure
df = pd.DataFrame({
    'customerID': [1, 2],
    'Churn': ['No', 'Yes'],
    'customer': [{'name': 'John', 'age': 30}, {'name': 'Alice', 'age': 25}],
    'phone': [{'type': 'mobile', 'provider': 'Claro'}, {'type': 'landline', 'provider': 'Movistar'}],
    'internet': [{'plan': 'Fiber', 'speed': 100}, {'plan': 'DSL', 'speed': 50}],
    'account': [{'balance': 200, 'status': 'active'}, {'balance': 50, 'status': 'inactive'}]
})

# Explode all dictionary columns
dict_cols = ['customer', 'phone', 'internet', 'account']

for col in dict_cols:
    df = pd.concat([df.drop(columns=[col]), pd.json_normalize(df[col])], axis=1)

print(df)

   customerID Churn   name  age      type  provider   plan  speed  balance  \
0           1    No   John   30    mobile     Claro  Fiber    100      200
1           2   Yes  Alice   25  landline  Movistar    DSL     50       50

     status
0    active
1  inactive

In [ ]:
df = pd.DataFrame({
    'customerID': [1, 2],
    'Churn': ['No', 'Yes'],
    'customer': [{'name': 'John', 'age': 30}, {'name': 'Alice', 'age': 25}],
    'phone': [{'type': 'mobile', 'provider': 'Claro'}, {'type': 'landline', 'provider': 'Movistar'}],
    'internet': [{'plan': 'Fiber', 'speed': 100}, {'plan': 'DSL', 'speed': 50}],
    'account': [{'balance': 200, 'status': 'active'}, {'balance': 50, 'status': 'inactive'}]
})

df

,customerID,Churn,customer,phone,internet,account
0,1,No,"{'name': 'John', 'age': 30}","{'type': 'mobile', 'provider': 'Claro'}","{'plan': 'Fiber', 'speed': 100}","{'balance': 200, 'status': 'active'}"
1,2,Yes,"{'name': 'Alice', 'age': 25}","{'type': 'landline', 'provider': 'Movistar'}","{'plan': 'DSL', 'speed': 50}","{'balance': 50, 'status': 'inactive'}"

In [ ]:
dict_cols = ['customer', 'phone', 'internet', 'account']

In [ ]:
for col in dict_cols:
    datos = pd.concat([datos.drop(columns=[col]), pd.json_normalize(datos[col])], axis=1)

datos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
datos['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [ ]:
counts = datos['Churn'].value_counts(dropna=False)
percentages = counts / len(datos) * 100
percentages

Churn
No     71.198569
Yes    25.719004
        3.082427
Name: count, dtype: float64

In [ ]:
datos = datos.dropna(subset=['Churn'])

In [ ]:
datos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [ ]:
datos['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)